{plugins,[ling_builder]}.

{sub_dirs,[
    "apps/kit"
]}.
{lib_dirs,["apps"]}.

{deps_dir,["deps"]}.

{deps, [
    {ling_builder,".*", {git,"git://github.com/maximk/ling_builder.git","master"}}
]}.

{ling_builder_opts,[
    {build_host,"build.erlangonxen.org:8080"},
    {username,"test"},
    {password,"test"},
    {import_lib,crypto},
    {import_lib,sasl},
    {import, "apps/kit/ebin/*"},
    %{import, "rt_load.erl"},
    {strip_image, false}
]}.
